:root {
   --main: #685ACE;
   --darker-main: #3048AD;
   --dark-grey: #213172;
   --beige: #FDF0D5;
   --smooth-white: #eee;
}

body {
   margin: 0;
   padding: 0;
   color: var(--smooth-white);
   background-color: var(--main);
   font-family: 'Press Start 2P', 'Comic Sans MS';
}

header {
   background-color: var(--darker-main);
   height: 8em;
   text-align: center;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#configuration {
   width: 30%;
}

#configuration div {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#configuration div input {
   width: 50%;
}

#configuration span {
   font-weight: bold;
   text-decoration: underline;
}

aside {
   position: absolute;
   background-color: var(--dark-grey);
   width: 5em;
   height: calc(100vh - 8em);
   top: 8em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   padding: 0 1%;
   overflow-y: scroll;
}

aside div {
   margin: .35em 0;
   border: 1px solid black;
   border-radius: 50%;
   transition: .3s ease-in-out;
   width: 70%;
}
aside .color {
   min-height: 3.6em;
   width: 70%;
}

aside .tool {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5em;
   min-height: 3.6rem;
   background-color: var(--smooth-white);
   color: var(--darker-main);
   border: 1px solid var(--darker-main);
}

aside div:hover {
   cursor: pointer;
   transform: scale(1.2);
   box-shadow: 0 0 5px black;
}

aside #reset:hover {
   animation: roll 1s;
}

@keyframes roll {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(720deg) scale(1.2);
   }
}
/* Hide scrollbar for Chrome, Safari and Opera */
aside::-webkit-scrollbar {
   display: none;
 }
 
 /* Hide scrollbar for IE, Edge and Firefox */
 aside {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
 }

main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: calc(100vh - 8em);
}

#drawField {
   display: flex;
   flex-wrap: wrap;
   box-shadow: 0 0 5px var(--darker-main);
}

.drawableDiv {
   border: 1px solid var(--darker-main);
   background-color: #eee;
   transition: .1s ease-in-out;
}

.drawableDiv:hover {
   background-color: var(--darker-main);
   cursor: pointer;
}

/* 
const STYLESHEET = document.createElement('style');
         const CSS_HOVER = `.drawableDiv:hover{ background-color: ${this.currentColor}; cursor: pointer; }`;
         STYLESHEET.stylesheet ? STYLESHEET.stylesheet.cssText = css : STYLESHEET.appendChild(document.createTextNode(CSS_HOVER)); */
#phone-message {
   display: none;
}

@media screen and (max-width:680px){
   #phone-message {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      font-weight: bold;
   }
}